<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80);">
  <div class="container">
    <h1><strong>Dream Drinks</strong>!</h1>
    <%= link_to "Make one", new_cocktail_path, class: 'btn btn-success'%>
  </div>
</div>

<div class=container>
  <div class=row>
    <% @cocktails.each do |cocktail|%>
      <div class='col-4'>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1558383409-ab7ef8db3e01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1540&q=80)">
            <h2><%=cocktail.name %></h2>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link'%>
          </div>
      </div>
    <% end %>
  </div>
</div>
